#header .navbar{
    display: flex;
    background-color: #5AB84A;
    border-bottom: 1px solid rgb(90, 184, 74);
    position: sticky;
    box-shadow: var(--box-shadow);
}
#header .navbar .navbar-brand {
    font-size: 25px;
    padding-left: 3rem;
}
#header .language{
    padding-left: 7rem;
}
#header .form-switch{
    display: flex;
}
.navbar-icon{
    color: var(--blue);
}
#header .nav-item span{
    padding-left:1px;
    padding-right: 3rem;
    color: #ffffff;
}
#header .container-button .toggle.active{
    background: #ffffff;
}
#header .container-button .toggle.active .toggle-button{
    Left:35px;
}
#header .container-button .toggle .text{
    color: #333647;
    position: absolute;
    top:3px;
    Left:70px

}
#header .switch .container{
}
#header .form-check-input {
    width: 50px;
    height: 25px;
    transition: 0.3s;
}
/* hero section */
@media (max-width: 992px) {
    .order-1 {
        order: 2;
    }
    .nav-item{
        text-align: center;
    }
}

.name {
    color: #333647;
    font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
    color: #333647; 
    font-weight: 700;
    padding: 6px 10px; 
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 15px;
}

.navbar-nav .nav-item.tb2 .nav-link {
    color: #ffffff;
    background-color: #34b634;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 12px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #8d6cc3;
    color: white;
    margin-right: 15px;
}

.btn-main {
    color: #ffffff;
    background-color: rgb(52, 182, 52);
    padding: 8px 10px;
    border-radius: 5px;
    margin-right: 12px;
    border: none;
}

.btn-main:hover {
    background-color: #8d6cc3;
    color: white;
}

.text .title {
    color: #333647;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

#services {
    background-color: #dcd9d9;
}

.services {
    padding: 0px 100px;
}


.textos {
    color: #494d50;
    font-size: 16px;
    font-weight: 600;
}

.text-title {
    color: #333647;
}

.card {
    max-width: 200px;
    height: auto;
}

.card-img-top {
    width: 100px; 
    height: 100px;
}


